# Configuração do MySql local para aumento de performance

[mysqld]
# Configuração básica
log_bin_trust_function_creators = 1

# Configurações de memória e performance (alinhadas com produção)
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 4M
innodb_doublewrite = OFF
innodb_flush_method = fsync
innodb_flush_neighbors = 0
innodb_io_capacity = 200
innodb_io_capacity_max = 2000
innodb_adaptive_hash_index = OFF
innodb_stats_on_metadata = OFF
innodb_file_per_table = ON

# Configurações de transação e persistência
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0

# Configurações de conexão
max_connections = 200
thread_cache_size = 35

# Configurações de buffer
join_buffer_size = 262K
sort_buffer_size = 524K
read_buffer_size = 131K
read_rnd_buffer_size = 262K
table_open_cache = 2000
max_heap_table_size = 16M
tmp_table_size = 16M
max_allowed_packet = 536M

# Configurações de log
general_log = 0
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 2

# Configurações de caracteres
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci


# Outras
performance_schema = OFF
skip_name_resolve = ON
log_queries_not_using_indexes = 1
